td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.yellow-bg {
    background-color: yellow;
  }
  
  .red-bg {
    background-color: rgb(245, 163, 163);
  }
